body{
    background-image: url("images/index.jpeg");
   background-size:cover;
    
    background-repeat: no-repeat;
 
}


.welcome{
    margin-bottom:16px;
    font-size:25px;
    color:white;
    text-align:center;
}

button{
    background-color:rgba(0,0,0,0.3);
    color:white;
    border-radius:20px;
    width:20px;
    height:70px;
    border:none;
    font-size:15px;
}

.upload{
    background-color:rgb(101, 179, 231);
}

.download{
    background-color:rgb(219, 116, 48);
}